* {
  box-sizing: border-box;
}

.gridborder {
  border: 1px solid;
    padding: .2em;

}
.gridtop {
    border-top: 1px;

}
.gridside {
    border-left: 1px;
    border-right: 1px;

}
.grid {

    font-size: 1.2em;
    padding-top: 0em;
    height: 3em;
}
.input-group .form-control {
    float: none;
}
.input-group .input-buttons {
    position: relative;
    z-index: 3;
}


/* Animation


.ngMessageClass.ng-enter-add {
    -webkit-transition:.5s linear all;
    -moz-transition: .5s linear all;
    -ms-transition: .5s linear all;
    -o-transition: .5s linear all;
    transition: .5s linear all;
    opacity: 0;
}

.ngMessageClass.ng-enter.ng-enter-active-add {
    opacity: 1;
    color: red;
}
http://embed.plnkr.co/oPrpTmhWCeR8zz2iiYSf/preview


*/
.message {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 0;
    color: red;
}


.message.ng-enter-active {
    opacity: 1;
}


/* animate ng-view */

.page.ng-enter {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 0;
    transform: translateY(100px);
}

.page.ng-enter.ng-enter-active {
   opacity: 1;
    transform: translate(0px);

}



/*
https://scotch.io/tutorials/animating-angularjs-apps-ngview
                            https://docs.angularjs.org/api/ng/directive/ngHide
*/