https://docs.angularjs.org/guide/concepts

                    <div class="row">
                        <div class="col-md-4 text-right">
                            <span>My Earnings</span>
                        </div>
                        <div class="col-md-4">
                            {{earn}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            Meal Count:
                        </div>
                        <div class="col-md-4">
                            {{count}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            Average Tip per meal:
                        </div>
                        <div class="col-md-4">
                            {{avgTip}}
                        </div>
                    </div>
            </div>

