<div class="container-fluid grid">

        <div class="col-md-6">
            <div class="grid">
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <span>My Earnings</span>
                        </div>
                        <div class="col-md-4">
                            {{earn}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            Meal Count:
                        </div>
                        <div class="col-md-4">
                            {{count}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            Average Tip per meal:
                        </div>
                        <div class="col-md-4">
                            {{avgTip}}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>