                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2 class="gridborder text-center">Enter the Meal Details</h2>
                    </div>
                    <div class="col-md-3"></div>
                </div>

          <form novalidate name="form">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right grid gridside">
                            <span>Base Meal Price:</span>
                        </div>

                        <div class="col-md-4 input-group">
                            <span class="input-group-addon">$</span>
                            <input
                                    name="mealPrice"
                                    type="number"
                                    ng-model="mealPrice"
                                    min="0.01"
                                    step="0.01"
                                    max="10000"
                                    required /><br />
                        </div>

                        <div ng-if="form.$submitted" ng-messages="form.mealPrice.$error" role="alert">
                            <ng-messages-include src="views/formMessages.html" class="message"></ng-messages-include>
                        </div>

                        <div class="col-md-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right grid">
                            <span>Tax Rate:</span>
                        </div>
                        <div class="col-md-4 input-group">
                            <span class="input-group-addon">%</span><input type="number" ng-model="tax" min="0.01" step="0.01" required  />
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right grid">
                            <span>Tip Percentage:</span>
                        </div>
                        <div class="col-md-4 input-group">
                            <span class="input-group-addon">%</span><input type="number" ng-model="tip" min="0.01" step="0.01" required />
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right grid">
                            <input type="submit" value="Submit" ng-click="add()" />
                        </div>
                        <div class="col-md-4">
                            <input type="reset" value="Cancel" />
                        </div>
                        <div class="col-md-2"></div>
                    </div>
         </form>



                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2 class="gridborder text-center">Customer Charges</h2>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-right grid">
                        <span>Subtotal</span>
                    </div>
                    <div class="col-md-4">
                        <span>{{subTotal}}</span><br />
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-right">
                        <span>Tip </span>
                    </div>
                    <div class="col-md-4">
                        <span>{{mealTip}}</span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
