                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2 class="gridborder text-center">Enter the Meal Details</h2>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <form ng-submit="order.addOrder(order.newOrder)">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right grid gridside">
                            <span>Base Meal Price: $</span>
                        </div>
                        <div class="col-md-4">
                            <span><input type="number" ng-model="order.mealPrice"/></span><br />
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right grid">
                            <span>Tax Rate: % </span>
                        </div>
                        <div class="col-md-4">
                            <span><input type="number" ng-model="order.tax" /></span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right grid">
                            <span>Tip Percentage: % </span>
                        </div>
                        <div class="col-md-4">
                            <span><input type="number" ng-model="order.tip"/></span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right grid">
                            <input type="submit" value="Submit" />
                        </div>
                        <div class="col-md-4">
                            <input type="reset" value="Cancel" />
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </form>



                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2 class="gridborder text-center">Customer Charges</h2>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-right grid">
                        <span>Subtotal</span>
                    </div>
                    <div class="col-md-4">
                        <span>{{subTotal}}</span><br />
                    </div>
                    <div class="col-md-2"></div>
                </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right">
                            <span>Tip </span>
                        </div>
                        <div class="col-md-4">
                            <span>{{tipTotal}}</span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
{{ orders }}

